---
import { Icon } from '@astrojs/starlight/components';
import type { Icons } from './Icons';

interface Props {
  variant: 'primary' | 'secondary' | 'minimal';
  link: string;
  icon?:
    | undefined
    | { type: 'icon'; name: keyof typeof Icons }
    | { type: 'raw'; html: string };
}

const { link, variant, icon } = Astro.props;
---
<div class="flex actions">
  <a class:list={['flex action', variant]} href={link}>
    <slot />
    {icon?.type === 'icon' && <Icon name={icon.name} size="1.5rem" />}
    {icon?.type === 'raw' && <Fragment set:html={icon.html} />}
  </a>
</div>

<style>
  .action {
    gap: 0.5em;
    align-items: center;
    border-radius: 10px;
    padding: 0.5rem 1.125rem;
    color: var(--sl-color-white);
    line-height: 1.1875;
    text-decoration: none;
    font-size: var(--sl-text-sm);
    margin-top: 10px;
    margin-left: auto;
  }
  .action.primary {
    background: var(--sl-color-text-accent);
    color: var(--sl-color-black);
  }
  .action.secondary {
    border: 1px solid;
  }
  .action.minimal {
    padding-inline: 0;
  }

  @media (min-width: 50rem) {
    .action {
      font-size: var(--sl-text-base);
      padding: 0.5rem 1rem;
    }
  }
</style>
